@font-face {
    font-family: "Lato";
    src: url('font.ttf');
}

html {
    font-family: 'Lato';
}

button {
    font-family: inherit;
}

.dead {
    text-decoration: line-through;
}   

.resources {
    display: none;
}

#party-monsters {
    list-style-type: none;
}

body { 
    text-align: center 
}
